#
# A lot of these are personal
# Take what works for you. Change them
# TheSavage is one you probably don't need!
#

alias update="source ~/.zshrc"
alias c='code-insiders'
alias now='date + "$T"'
alias nowtime=now
alias nowdate='date + "%d-%m-%Y"'
alias ports='netstat -tulanp'

# *** Commands *** #
alias l='ls -lFGh'
alias la='ls -al'
alias ld='ls -l | grep "^d"' # Lists all directories
alias ldot='ls -ld .*'
alias grep='grep --color'
alias b='brightness -m ' # Number between 0 and 1 for % brigthness
alias work='workCode && workComms && workLocal && workTerm'
alias stfu="osascript -e 'set volume output muted true'" # mutes volume
alias lps='lsof -wni ' # Takes port or protocol or both protocol:port
alias path='echo -e ${PATH//:/\\n}' # Prints the PATH with each directory separated by newline

# *** File System *** #
alias o='open -a '
alias github='cd ~/GitHub'

# *** Apps *** #
alias fire="o 'Firefox Developer Edition'"
alias chrome="o 'Google Chrome'"
alias chromec="o 'Google Chrome Canary'"
alias firelite="o 'Firefox'"
alias Docker="o 'Docker'"
alias Teams="o 'Microsoft Teams'"
alias Outlook="o 'Microsoft Outlook'"
alias Word="o 'Microsoft Word'"
alias 8000="chrome http://localhost:8000"
alias graphql="chrome http://localhost:8000/___graphql"
alias intelli='o IntelliJ IDEA CE'

# *** Git *** #
alias g='git'
alias ga='git add .'
alias gs='g status'
alias gac='g add . && g commit -m '
alias push='g push'
alias garc='git add . && git rebase --continue'
alias skip='git rebase --skip'
alias grc='git rebase --continue'

# *** NPM *** #
alias nrs='npm run start'
alias i='npm i'
alias build='npm run build'
alias nu='npm uninstall '
alias niD='npm i -D '
alias niP='npm i -P '

# *** Docker *** #
alias di='docker images'
alias dc='docker ps'
alias dri='docker rmi '
alias dcs='docker container stop '
alias dcr='docker container rm '

# *** Work Specific *** #
alias cleanI='npm run clean:install'
alias updateJest='npm run test:jest -- -u'
alias watchJest='npm run test:jest -- --watch'
alias workTerm='o Hyper ~/GitHub/work/hbm/qualification-codes-js && o Hyper ~/GitHub/work/hbm/qualification_codes_engine'
alias workCode='cd ~/GitHub/work/hbm && code benefits-management-js && code benefits_management_engine && code qualification-codes-js && code qualification_codes_engine'
alias workComms='Outlook && Teams'
alias 9292='chrome http://localhost:9292/?tenant_key=2c400054-42d8-4e74-87b7-80b5bd5fde9f'
alias 8080='chrome http://localhost:8080'
alias workLocal='9292 && 8080'

alias nvmVersion='echo "lts/dubnium" > .nvmrc'
alias updateNVM='ManJs && nvmVersion && ManEng && nvmVersion && cd client && nvmVersion && MasJs && nvmVersion && MasEng && nvmVersion && cd client && nvmVersion && AccJs && nvmVersion && AccEng && nvmVersion && cd client && nvmVersion && Server && nvmVersion && cd client && nvmVersion && QualJs && nvmVersion && QualEng && cd client && nvmVersion && echo "Updated all .nvmrc."'

alias rvmVersion='echo "2.6.2" > .ruby-version'
alias updateRVM='ManEng && rvmVersion && MasEng && rvmVersion && QualEng && rvmVersion && AccEng && rvmVersion && Server && rvmVersion && echo "Updated all .ruby-version."'

alias buildEng='bundle install && npm i && npm run build:development'

alias cleanJs='rm -rf node_modules package-lock.json'
alias cleanEng='cleanJs && rm -rf Gemfile.lock client/package-lock.json client/node_modules'

alias testEng='npm run build:test:capybara'

alias jestT='npm run test:jest'
alias jestTU='npm run test:jest -- -u'
alias jestTW='npm run test:jest -- --watch'

alias wdioT='npm run test:wdio'

# *** Websites *** #
alias Cru='chrome https://crucible04.cerner.com/viewer/cru?filter=inbox'
alias GitHub='chrome https://github.com/JSavage42' # Change to your username
alias Cerner='chrome https://my.cerner.com/home/'
alias myTime='chrome https://mytime.cerner.com'
alias Jira='chrome https://jira2.cerner.com/secure/Dashboard.jspa'

# *** Fun *** #
alias lenny='echo ¯\\_(ツ)_/¯ | pbcopy'

# *** Hub Enterprise *** #
alias ehub='GITHUB_HOST=github.cerner.com hub '

# *** Services *** #
alias startMongo='brew services start mongodb-community'
alias stopMongo='brew services stop mongodb-community'
